*, *::after, *::before {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

:root {
  --grid-size: 4;
  --cell-size: 20vmin;
  --cell-gap: 2vmin;
  --bdrs: 1vmin;
  --animation-score-time: 1000ms;
}

html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
}

body {
  background-color: #333;
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

header {
  color: rgb(186, 172, 159);
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  font-size: 2.5vmin;
  padding: 2vmin;
}

.title {
  font-size: 8.5vmin;
  padding-bottom: 2vmin;
  text-shadow: rgba(255, 255, 255, 0.2) 0.5vmin 0.3vmin;
}

.score-box {
  display: block;
  text-align: center;
  font-size: 4vmin;
  text-shadow: rgba(255, 255, 255, 0.2) 0.5vmin 0.3vmin;
}

#score {
  --c-lightness: 50%;
  position: relative;
}
#score .add-score {
  top: 50%;
  left: 50%;
  position: absolute;
  font-size: 2vmin;
  font-weight: 600;
  transform: translate(-50%, -50%) scale(0);
  color: #ffae1a;
  -webkit-animation: new-score var(--animation-score-time) ease-in-out;
          animation: new-score var(--animation-score-time) ease-in-out;
  text-shadow: rgba(0, 0, 0, 0.2) 0.5vmin 0.3vmin;
}

#game-zone {
  touch-action: none;
  --grid-size: 4;
  margin-bottom: 10vmin;
  background-color: #BBAC9F;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), var(--cell-size));
  grid-template-rows: repeat(var(--grid-size), var(--cell-size));
  grid-gap: var(--cell-gap);
  padding: var(--cell-gap);
  border-radius: var(--bdrs);
  position: relative;
  border-radius: var(--bdrs);
  margin: 0 auto;
}

.cell {
  background-color: #CCC0B3;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: 1vmin;
}

.tile {
  --x: 1;
  --y: 2;
  --bgc-lightness: 50%;
  --c-lightness: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 4.8vmin;
  position: absolute;
  width: var(--cell-size);
  height: var(--cell-size);
  border-radius: var(--bdrs);
  top: calc(var(--cell-gap) + (var(--cell-gap) + var(--cell-size)) * var(--y));
  left: calc(var(--cell-gap) + (var(--cell-gap) + var(--cell-size)) * var(--x));
  background-color: hsl(25, 50%, var(--bgc-lightness));
  color: hsl(25, 50%, var(--c-lightness));
  -webkit-animation: show 200ms ease-in-out;
          animation: show 200ms ease-in-out;
  transition: 180ms ease-in-out;
}

button {
  padding-top: 1vmin;
  padding-bottom: 1vmin;
  border-radius: 1vmin;
  font-size: 2.5vmin;
  transform: translateY(-0.5vmin);
  box-shadow: 0 1vmin 0vmin 0 rgba(255, 255, 255, 0.5);
  transition: all 150ms;
}
button:active {
  transform: translateY(0);
  box-shadow: 0 0.3vmin 0 rgba(255, 255, 255, 0.5);
}

.btns {
  margin: 3vmin 10vmin 0;
  display: grid;
  grid-gap: 1vmin;
  grid-template-columns: repeat(3, 1fr);
}

[data-btn=w] {
  grid-column: 2;
}

[data-btn=a] {
  grid-column: 1;
}

@-webkit-keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}

@keyframes show {
  0% {
    opacity: 0.5;
    transform: scale(0);
  }
}
@-webkit-keyframes new-score {
  50% {
    opacity: 1;
    transform: translate(2vmin, -3vmin) scale(1);
  }
  70% {
    opacity: 0.2;
    transform: translate(2vmin, -3.5vmin) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translate(2.5vmin, -3.8vmin) scale(0.8);
  }
}
@keyframes new-score {
  50% {
    opacity: 1;
    transform: translate(2vmin, -3vmin) scale(1);
  }
  70% {
    opacity: 0.2;
    transform: translate(2vmin, -3.5vmin) scale(0.5);
  }
  100% {
    opacity: 0;
    transform: translate(2.5vmin, -3.8vmin) scale(0.8);
  }
}/*# sourceMappingURL=style.css.map */